* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #7F8187;
}   

h1, h2, h3 {
    color: white;
}
