* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #7F8187;
}   

h1, h2, h3 {
    color: white;
}

/*Utilities*/

.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;
}

.debug-blu {
    background-color: rgba(0, 0, 255, 0.50);
    border: 1px solid blue;
}

.debug-green {
    background-color: greenyellow;
    border: 1px solid white;
}

.d-flex {
    display: flex;
}

/*Header*/
header {
    height: 90px;
    background-color: #090B12;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    z-index: 2;
}


/*Main*/
aside {
    height: calc(100% - 100px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: black;
    width: 250px;
    /* height: 100%; */
}

.musica {
    /*background-color: #151921; */
    height: calc(100% - 190px);
    width: calc(100% - 250px);
    position: fixed;
    right: 0;
    top: 90px;
    z-index: 1;
    bottom: 0;
}

.album {
    aspect-ratio: 1 / 1;
    padding: 1px;

}

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    height: 100px;
    background-color: #282829;
}