* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #7F8187;
}   

h1, h2, h3 {
    color: white;
}

/*Utilities*/
.debug {
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;
}

.d-flex {
    display: flex;
}

/*Header*/
header {
    height: 90px;
    background-color: #090B11;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

header section {
    justify-content: space-between;
}

header section .logo {
    width: 230px;
    height: 90px;
    background-color: black;
}

/*Main*/
main {
    height: calc(100vh - 90px);
    padding-top: 90px;
    background-color: #151921;
}

main aside {
    width: 230px;
    height:calc(100vh - 90px);
    background-color: black;
    flex-shrink: 0;
}


main .card {
    max-width: 300px;
}

main .row {
    column-count: 6;
}

main .musica {
    margin: 10px;
}

main .musica .gallery .row .card {
    display: flex;
    flex-direction: column;
}

main .card div {
    display: flex;
    justify-content: center;
}

/*Debug*/
.card {
    border: 1px solid red;
}


/*Footer*/
footer {
    height: 90px;
    background-color: #282829;
}